##############################
# Maven
##############################
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

##############################
# IntelliJ IDEA
##############################
.idea
*.iws
*.iml
*.ipr

##############################
# VS Code
##############################
.vscode/

##############################
# Logs & Temp files
##############################
*.log
*.out
*.tmp
*.bak
*.swp

##############################
# System files
##############################
.DS_Store
Thumbs.db

##############################
# Docker
##############################
**/docker-data/
**/docker-volumes/
**/docker-compose.override.yml

##############################
# Environment files
##############################
.env
.env.local
.env.*.local

##############################
# Build artifacts
##############################
/build/
/dist/
